label {
	@include label;
}

%input {
	padding: 12px 24px;
	width: 100%;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: $black;
	background: $grey-50;
	border: none;
}

input {
	@extend %input;
}

select {
	@extend %input;
	border-radius: 0;
}

textarea {
	@extend %input;
	height: 300px;
	resize: none;
}
