.link {
	font-family: 'Geom';
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 9px;
	text-align: center;
	letter-spacing: 0.25em;
	text-decoration: none;
	text-transform: uppercase;
	color: $black;
}
