:root {
	--color-black: #211E1E;
	--color-blue: #44A5FF;
	--color-red: #D32C2E;
	--color-green: #D9EDBF;
	--color-blue-light: #CFDCE8;

	--font-primary: "Inter", sans-serif;
	--font-secondary: "Roboto Serif", serif;

	--padding-container-header: 4rem clamp(2rem, 8vw, 8rem) 0 5vw;
	--padding-container-body: 4rem clamp(2rem, 8vw, 8rem) 0;
}
