/* BUTTON */

.form-row.--button {
	display: flex;
	gap: 4rem;
	margin-top: 4rem;
}

.button-wrapper {
	margin-top: 2.4rem;
}

.button {
	display: inline-block;
	text-decoration: none;
}

.button-primary {
	padding: 2rem 6.4rem;
	font-size: 1.4rem;
	line-height: 1;
	font-weight: 600;
	letter-spacing: .2rem;
	text-transform: uppercase;
	color: white;
	background-color: var(--color-black);
	border: none;
	border-radius: 5.2rem;
}

.button-small {
	padding: 1.2rem 2rem 1rem;
	font-size: 1rem;
}

.button-cancel {
	color: var(--color-black);
	background-color: var(--color-blue-light);
}

.button-delete {
	background-color: var(--color-red);
}

.link {
	/* all: unset; ! Ceci efface vraiment tous les styles*/
	display: inline-block;
	margin: 0;
	padding: 0;
	color: currentColor;
	text-decoration: underline;
	background: transparent;
	border: none;
}

.link-delete,
.link-logout {
	color: var(--color-red);
}
