$admin-sidebar-width: clamp(300px, 20vw, 400px);
$breakpoint-admin-nav: $m;

.admin-login {
	display: flex;
	height: 100vh;
}

.admin:not(.admin-login) {
	@media screen and (min-width:$breakpoint-admin-nav + 1) {
		display: grid;
		grid-template-columns: $admin-sidebar-width 1fr;
	}

	&.admin-posts-edit {
		@media screen and (min-width:$xl + 1) {
			grid-template-columns: $admin-sidebar-width 1fr $admin-sidebar-width;
		}
	}
}

.admin-nav {
	position: relative;
	background: $black;
}

.admin-nav-container {
	display: flex;
	justify-content: space-between;
	padding: 20px;

	@media screen and (min-width:$breakpoint-admin-nav + 1) {
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 0;
		padding: 50px 20px;
		width: $admin-sidebar-width;
		height: 100vh;
	}
	color: $white;
	background: $black;

	a {
		display: block;
	}

	.logo {
		display: block;
		margin: 0 auto;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 1 100%;

		ul {
			display: flex;
			// GAP ne fonctionne pas avec display flex
			// gap: 20px;
			height: 100%;

			& > * {
				margin: 10px;
			}

			li:last-child { // Envoyer se déconnecter tout en bas
				color: $red;
			}

			@media screen and (min-width:$breakpoint-admin-nav + 1) {
				flex-direction: column;

				li:first-child { // Empecher articles de coller au logo
					margin-top: auto;
				}

				li:last-child { // Envoyer se déconnecter tout en bas
					margin-top: auto;
					margin-bottom: 0;
				}
			}
		}

		@media screen and (max-width:$breakpoint-admin-nav) {
			&:not(.active) {
				pointer-events: none;
				opacity: 0;
			}

			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $black;

			ul {
				flex-direction: column;
				align-items: center;
				height: auto
			}
		}
	}

	a {
		@include font( 'Geom', 14, 14 );
		letter-spacing: 0.25em;
		text-decoration: none;
		text-transform: uppercase;
		color: currentColor;
	}
}

.admin-content {
	padding: 50px 20px;
	width: 100%;

	@media screen and (min-width:$m + 1) {
		padding: 50px;
	}
}

/* ADMIN */

.post_thumbnail {
	object-fit: cover;
	width: 100%;
	max-width: 150px;
	height: auto;
	max-height: 150px;
}

.title {
	// @include font-family( 'Playfair Display' );
	// @include font-size( 36, 48 );
	margin-bottom: 30px;
	@include font( 'Playfair Display', 36, 48 );
}

table {
	margin-top: 20px;
	width: 100%;

	thead {
		@media screen and (max-width:$l) {
			display: none;
		}
	}

	tr {
		@media screen and (max-width:$l) {
			display: flex;
			flex-direction: column;
			padding: 20px;
			border: 1px solid #DDDFE4;
		}

		&:nth-child(2n) {
			background: $grey-50;
		}

		@media screen and (min-width:$m + 1) {
			td:nth-child(1) {
				width: 100%;
				min-width: 300px;
			}

			td:nth-child(2) {
				min-width: 200px;
			}

			td:nth-child(3) {
				min-width: 200px;
			}
		}
	}

	td,
	th {
		@media screen and (max-width:$l) {
			margin: 10px 0;
		}

		@media screen and (min-width:$l + 1) {
			padding: 20px;
			border: 1px solid #DDDFE4;
		}
	}

	td {
		@media screen and (max-width:$l) {
			&::before {
				content: attr(data-label);
				display: block;
				@include label;
				margin: 0;
			}
		}

		@include font( 'Playfair Display', 16, 21 );

		a {
			text-decoration: none;
			color: currentColor;
			transition: all .2s ease-in-out;

			&:hover {
				color: #F2D354;
				text-decoration: underline;
			}
		}
	}

	th {
		@include font( 'Geom', 10, 10 );
		font-weight: 900;
		letter-spacing: 0.25em;
		text-transform: uppercase;
		text-align: left;
	}
}
