$admin-sidebar-width: clamp(300px, 20vw, 400px);

.admin-login {
	display: flex;
	height: 100vh;
}

.admin:not(.admin-login) {
	display: grid;
	grid-template-columns: $admin-sidebar-width 1fr;

	&.admin-posts-edit {
		@media screen and (min-width:$xl) {
			grid-template-columns: $admin-sidebar-width 1fr $admin-sidebar-width;
		}
	}
}

.admin-nav {
	position: relative;
	background: $black;
}

.admin-nav-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	padding: 50px 20px;
	width: $admin-sidebar-width;
	height: 100vh;
	color: $white;
	background: $black;

	a {
		display: block;
	}

	.logo {
		display: block;
		margin: 0 auto;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 1 100%;

		ul {
			display: flex;
			flex-direction: column;
			// GAP ne fonctionne pas avec display flex
			// gap: 20px;
			height: 100%;

			& > * {
				margin: 10px 0;
			}

			li:first-child { // Empecher articles de coller au logo
				margin-top: auto;
			}

			li:last-child { // Envoyer se déconnecter tout en bas
				margin-top: auto;
				margin-bottom: 0;
				color: $red;
			}
		}
	}

	a {
		@include font( 'Geom', 14, 14 );
		letter-spacing: 0.25em;
		text-decoration: none;
		text-transform: uppercase;
		color: currentColor;
	}
}

.admin-content {
	padding: 50px;
	width: 100%;
}

/* ADMIN */

.post_thumbnail {
	object-fit: cover;
	width: 100%;
	max-width: 150px;
	height: auto;
	max-height: 150px;
}

.title {
	// @include font-family( 'Playfair Display' );
	// @include font-size( 36, 48 );
	margin-bottom: 30px;
	@include font( 'Playfair Display', 36, 48 );
}

table {
	margin-top: 20px;
	width: 100%;

	tr {
		td:nth-child(1) {
			width: 100%;
			min-width: 300px;
		}

		td:nth-child(2) {
			min-width: 200px;
		}

		td:nth-child(3) {
			min-width: 200px;
		}

		&:nth-child(2n) {
			background: $grey-50;
		}
	}

	td,
	th {
		padding: 20px;
		border: 1px solid #DDDFE4;
	}

	td {
		@include font( 'Playfair Display', 16, 21 );

		a {
			text-decoration: none;
			color: currentColor;
			transition: all .2s ease-in-out;

			&:hover {
				color: #F2D354;
				text-decoration: underline;
			}
		}
	}

	th {
		@include font( 'Geom', 10, 10 );
		font-weight: 900;
		letter-spacing: 0.25em;
		text-transform: uppercase;
		text-align: left;
	}
}
