.admin-login {
	background: $pink-50;
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;

	@supports ( gap: 30px ) {
		// GAP ne fonctionne pas avec display flex
		// gap: 30px;
	}

	& > * {
		margin: 15px 0;
	}

	.logo {
		display: block;
		margin: 0 auto;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 20px 40px 40px;
		width: 100%;
		max-width: 400px;
		background: $white;

		@supports ( gap: 30px ) {
			// GAP ne fonctionne pas avec display flex
			// gap: 30px;
		}

		& > * {
			margin: 15px 0;
		}

		[type="submit"] {
			width: 100%;
		}
	}
}
