.admin-login {
	background: $pink-50;
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	height: 100%;

	.logo {
		display: block;
		margin: 0 auto;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 30px;
		padding: 20px 40px 40px;
		width: 100%;
		max-width: 400px;
		background: $white;

		label {
			display: block;
			margin-bottom: 15px;
			font-family: 'Geom';
			font-style: normal;
			font-weight: 500;
			font-size: 10px;
			line-height: 10px;
			letter-spacing: 0.25em;
			text-transform: uppercase;
		}

		input {
			padding: 12px 24px;
			width: 100%;
			font-family: 'Playfair Display';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 26px;
			color: $black;
			background: $grey-50;
			border: none;
		}
	}
}
