@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap);
@charset "UTF-8";
.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  -webkit-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.glide--rtl {
  direction: rtl;
}

:root {
  --color-black: #211E1E;
  --color-blue: #44A5FF;
  --color-red: #D32C2E;
  --color-green: #D9EDBF;
  --color-blue-light: #CFDCE8;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Roboto Serif", serif;
  --padding-container-header: 4rem clamp(2rem, 8vw, 8rem) 0 5vw;
  --padding-container-body: 4rem clamp(2rem, 8vw, 8rem) 0;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-selection {
  background: var(--color-blue);
}

::selection {
  background: var(--color-blue);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  font-weight: 400;
  font-size: 1.6rem;
}

button,
a {
  cursor: pointer;
}

main img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  /* max-width: 30rem; */
  height: auto;
}

::-moz-placeholder {
  color: #78818A;
}

::placeholder {
  color: #78818A;
}

input,
textarea {
  padding: 1.6rem 2.4rem 1.7rem;
  width: 100%;
  max-width: 56rem;
  background-color: white;
  border: 1px solid var(--color-blue-light);
  border-radius: 0.4rem;
}

textarea {
  min-height: 30rem;
  max-height: 45rem;
  resize: vertical;
}

input:focus,
textarea:focus {
  border-color: var(--color-blue);
}

/* SELECT */
select {
  all: unset;
  box-sizing: border-box;
  display: block;
  padding: 1.6rem 2rem;
  padding-right: 4rem;
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.4rem;
  background-color: white;
  border: 1px solid var(--color-blue-light);
  border-radius: 6rem;
}

.form-row--select {
  position: relative;
  max-width: 30rem;
}
.form-row--select::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 2.4rem;
  transform: translateY(-75%) rotate(45deg);
  width: 0.8rem;
  height: 0.8rem;
  border: 4px solid currentColor;
  border-left-color: transparent;
  border-top-color: transparent;
}

/* BUTTON */
.form-row.--button {
  display: flex;
  gap: 4rem;
  margin-top: 4rem;
}

.button-wrapper {
  margin-top: 2.4rem;
}

.button {
  display: inline-block;
  text-decoration: none;
}

.button-primary {
  padding: 2rem 6.4rem;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: white;
  background-color: var(--color-black);
  border: none;
  border-radius: 5.2rem;
}

.button-small {
  padding: 1.2rem 2rem 1rem;
  font-size: 1rem;
}

.button-cancel {
  color: var(--color-black);
  background-color: var(--color-blue-light);
}

.button-delete {
  background-color: var(--color-red);
}

.link {
  /* all: unset; ! Ceci efface vraiment tous les styles*/
  display: inline-block;
  margin: 0;
  padding: 0;
  color: currentColor;
  text-decoration: underline;
  background: transparent;
  border: none;
}

.link-delete,
.link-logout {
  color: var(--color-red);
}

/* MODAL */
.admin body {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
}
body.has-modal-active::before {
  z-index: 99;
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.modal {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem;
  background-color: white;
  box-shadow: 0 0 1.6rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.modal:not(.active) {
  display: none;
}
.modal h2 {
  font-family: var(--font-primary);
  font-size: 2rem;
  margin-bottom: 1em;
}
.modal form label {
  margin-bottom: 1rem;
}

/* PAGINATION */
.pagination {
  display: flex;
  gap: 0.8rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1px;
  width: 3.2rem;
  height: 3.2rem;
  text-decoration: none;
  color: currentColor;
  background-color: white;
  border: 1px solid var(--color-blue-light);
  border-radius: 2px;
}

.pagination li.active a {
  color: var(--color-blue);
  border-color: var(--color-blue);
  text-decoration: underline;
}

.glide {
  max-width: calc(100vw - 16rem);
}

.glide__arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.glide__arrow {
  display: block;
  position: absolute;
  padding: 0;
  width: 4rem;
  height: 4rem;
  text-indent: -9999px;
  background: white;
  border: 1px solid var(--color-blue-light);
  border-radius: 50%;
}
.glide__arrow::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--color-blue);
  border-bottom: 0;
  border-left: 0;
}
.glide__arrow--left {
  left: -6rem;
}
.glide__arrow--left::before {
  margin-left: 2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}
.glide__arrow--right {
  right: -6rem;
}
.glide__arrow--right::before {
  margin-left: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.site .site-header {
  display: flex;
  gap: 4rem 2rem;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-container-header);
}
@media screen and (max-width: 800px) {
  .site .site-header {
    flex-direction: column;
  }
}
.site .site-header menu {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 800px) {
  .site .site-header menu {
    flex-direction: column;
  }
}
@media screen and (min-width: 801px) {
  .site .site-header menu {
    margin-right: 0;
    margin-left: auto;
  }
}
.site .site-header menu a {
  text-decoration: none;
  color: currentColor;
}
.single .site-header {
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 4rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.admin .site-header {
  position: sticky;
  top: 0;
  min-height: 100vh;
  height: 100vh;
  color: white;
  background-color: var(--color-black);
}
.admin .site-header .wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 4rem;
  height: 100%;
}
@media screen and (min-width: 801px) {
  .admin .site-header .wrapper {
    padding: 2rem 4rem 6rem;
  }
}
.admin .site-header menu {
  margin-top: auto;
  margin-bottom: auto;
  list-style-type: none;
  transition: opacity 0.2s 0.2s ease-in-out;
}
@media screen and (max-width: 801px) {
  .admin .site-header menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem 2rem 6rem;
    width: 20rem;
    height: 100vh;
    background-color: var(--color-black);
    transition: transform 0.1s ease-out;
  }
}
.admin .site-header menu > * {
  margin: 1.6rem 0;
}
.admin .site-header a {
  text-decoration: none;
  color: currentColor;
}
@media screen and (max-width: 801px) {
  .admin .site-header:not(:hover) menu {
    transform: translateX(-12rem);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s 0s ease-in-out;
  }
}

.logo {
  z-index: 100;
  display: block;
  position: relative;
}
.logo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.admin .logo {
  width: 8rem;
  height: 8rem;
}
.site .logo {
  width: clamp(6rem, 10.6vw, 12rem);
  height: clamp(6rem, 10.6vw, 12rem);
}
.single .logo {
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
}

.admin {
  display: grid;
  gap: 0;
  grid-template-columns: 8rem 1fr;
  /* grid-template-areas:
  	"navigation"
  	"content"
  ; */
  background-color: rgba(33, 30, 30, 0.1);
}
@media screen and (min-width: 801px) {
  .admin {
    grid-template-columns: 24rem 1fr;
  }
}
.admin.categorie main > section {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "sidebar" "content";
}
@media screen and (min-width: 801px) {
  .admin.categorie main > section {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header header" "content sidebar";
  }
}
.admin.categorie main > section .admin-header {
  grid-area: header;
}
.admin.categorie main > section .admin-content {
  grid-area: content;
}
.admin.categorie main > section .admin-content [type=text] {
  padding: 0.6rem 1.2rem 0.7rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.admin.categorie main > section .admin-sidebar {
  grid-area: sidebar;
}

.admin-header {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 2rem 6rem;
  font-size: 2rem;
  line-height: 3.2rem;
  background-color: white;
}

/* ADMIN CONTENT */
.admin-sidebar {
  padding-right: 6rem;
}
.admin-sidebar form .button {
  margin-top: 2.4rem;
}

.admin-content {
  padding: 6rem 8rem;
}

.admin-content table {
  overflow: hidden;
  display: block;
  width: 100%;
  border: 1px solid var(--color-blue-light);
  border-radius: 4px;
}
.admin-content table tbody {
  display: block;
  width: 100%;
}
.admin-content table tr {
  display: grid;
  grid-template-columns: 1fr repeat(3, 10rem); /* repeat(3, 10rem) = premier chiffre nombre de fois à répéter le second. => 10rem 10rem 10rem */
  gap: 6rem;
  align-items: center;
  padding: 2.4rem 2.4rem 2rem;
  width: 100%;
  background-color: white;
}
.admin-content table tr:not(:hover) .link {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}
.admin-content table tr:not(:first-child) {
  border-top: 1px solid var(--color-blue-light);
}
.users .admin-content table tr {
  grid-template-columns: 1fr 1fr;
}
.categorie .admin-content table tr {
  grid-template-columns: 1fr;
}
.admin-content table a {
  color: currentColor;
  text-decoration: none;
}
.admin-content table .link {
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}
.admin-content table .link:nth-child(1) {
  transition-delay: 0.1s;
}
.admin-content table .link:nth-child(2) {
  transition-delay: 0.2s;
}
.admin-content table .link:nth-child(3) {
  transition-delay: 0.3s;
}
.admin-content table .link.--delete {
  color: var(--color-red);
}

.admin.posts-list .admin-content tr:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.6);
}

.admin-content form > div {
  flex: 1 1 100%;
}

.admin .title {
  display: block;
  margin: 2rem 0 0.6rem;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.form-row.--checkbox > div {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  padding: 2.4rem;
  background: white;
  border: 1px solid var(--color-blue-light);
  border-radius: 0.4rem;
}

[type=checkbox],
[type=radio] {
  display: none;
}
.admin-content [type=checkbox] + label,
.admin-content [type=radio] + label {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  position: relative;
  margin: 0;
  cursor: pointer;
}
.admin-content [type=checkbox] + label::before,
.admin-content [type=radio] + label::before {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background-color: white;
  border: 1px solid var(--color-blue-light);
  border-radius: 0.4rem;
}
.admin-content [type=checkbox]:checked + label::after,
.admin-content [type=radio]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(120%, -80%) rotate(45deg);
  width: 0.6rem;
  height: 1.2rem;
  border: 2px solid #44A5FF;
  border-top: none;
  border-left: none;
}

/* CATEGORIES */
.categories-list tr {
  grid-template-columns: 1fr;
}

.categorie-item form {
  display: block;
}

.filters {
  margin: 8rem 0 4rem;
}

.home main {
  padding: var(--padding-container-body);
}

/* LOGIN */
.login,
.register {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-green);
}
.login main,
.register main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.login .login-wrapper,
.register .login-wrapper {
  margin: 2rem;
  width: 100%;
  max-width: 44rem;
}
.login .logo,
.register .logo {
  display: inline-block;
}
.login form,
.register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 3.2rem 4rem;
  background: white;
  border-radius: 0.8rem;
}
.login form label,
.register form label {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.login .button,
.register .button {
  margin-top: 3.2rem;
}
.login .link,
.register .link {
  margin-top: 1.6rem;
}
.login .link.--reset-password,
.register .link.--reset-password {
  margin: 2rem;
}

/* POSTS LIST */
.home .posts-list {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
}
.home .posts-list img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .posts-list .post-card:nth-child(2n+1) .post-card-image {
  height: 30rem;
}
.home .post-data {
  margin-bottom: 2.4rem;
  padding: 3.2rem;
  background-color: var(--color-blue-light);
  border-radius: 1.2rem;
}
.home .categories-list {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap; /* ? */
}
.home .categories-list a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: currentColor;
  background: var(--color-green);
  border-radius: 5rem;
}
.home .post-card {
  background-color: white;
  border: 1px solid var(--color-blue-light);
  border-radius: 4px;
}
.home .post-card-image {
  overflow: hidden;
  display: block;
  height: 20rem;
  border-radius: 3px 3px 0 0;
}
.home .post-card-image a {
  display: block;
  width: 100%;
  height: 100%;
}
.home .post-card-content {
  padding: 2.4rem;
}
.home .post-card-content .title {
  margin-top: 2rem;
  margin-bottom: 0.4rem;
  font-size: 2rem;
  line-height: 3.2rem;
}
.home .post-card-content .title a {
  text-decoration: none;
  color: currentColor;
}
.home .post-card-content p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.single main {
  display: grid;
  gap: 8rem 12rem;
  grid-template-columns: 1fr 30rem;
  grid-template-areas: "hero hero" "content sidebar" "related related";
}
@media screen and (max-width: 800px) {
  .single main {
    gap: 4rem;
    grid-template-columns: 1fr;
    grid-template-areas: "hero" "sidebar" "content" "related";
  }
}
.single .hero {
  grid-area: hero;
}
.single .hero img {
  width: 100%;
  max-height: 40rem;
}
.single .content {
  grid-area: content;
  padding: 0 2rem;
}
@media screen and (min-width: 801px) {
  .single .content {
    padding-left: 8rem;
    padding-right: 0;
  }
}
.single .sidebar {
  grid-area: sidebar;
  padding: 0 2rem;
}
@media screen and (min-width: 801px) {
  .single .sidebar {
    padding-right: 8rem;
    padding-left: 0;
  }
}
.single .related {
  grid-area: related;
  margin-bottom: 8rem;
  padding: 0 2rem;
}
@media screen and (min-width: 801px) {
  .single .related {
    padding: 0 8rem;
  }
}
.single .content > .title,
.single .related > .title {
  margin-bottom: 0.75em;
  font-family: var(--font-secondary);
  font-size: 3.2rem;
  line-height: 3.2rem;
}
.single .content p,
.single .related p {
  line-height: 1.414;
}

/* Text meant only for screen readers. */
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.sr-only:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
