:root {
	--color-blue: #44A5FF;
	--color-red: #D32C2E;
	--color-green: #D9EDBF;
	--font-primary: 'Helvetica Neue', 'Helvetica', sans-serif;
}

::selection {
	background: var(--color-blue);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	outline: none;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: var(--font-primary);
	font-size: 1.6rem;
}

button,
a {
	cursor: pointer;
}

main img {
	/* width: 100%;
	max-width: 30rem;
	height: auto; */
}

.site-header {
	padding: 2rem;
	min-height: 100vh;
	color: white;
	background-color: #211E1E;
}

.site-header menu {
	list-style-type: none;
}

.site-header a {
	text-decoration: none;
	color: currentColor;
}

.admin {
	display: grid;
	gap: 0;
	grid-template-columns: 30rem 1fr;
	background-color: rgba(33, 30, 30, .1);
}

.admin-header {
	padding: 2rem 6rem;
	font-size: 2rem;
	line-height: 3.2rem;
	background-color: white;
}

/* ADMIN CONTENT */

.admin-content {
	padding: 6rem 8rem;
}

.admin-content table {
	overflow: hidden;
	width: 100%;
	border: 1px solid #CFDCE8;
	border-radius: 4px;
}

.admin-content table a {
	color: currentColor;
	text-decoration: none;
}

.admin-content table .link {
	font-size: 1rem;
	transition: all .2s ease-in-out;
}

.admin-content table .link:nth-child(1) {
	transition-delay: .1s;
}

.admin-content table .link:nth-child(2) {
	transition-delay: .2s;
}

.admin-content table .link:nth-child(3) {
	transition-delay: .3s;
}

.admin-content table .link.--delete {
	color: var(--color-red);
}

.admin-content tr {
	display: grid;
	grid-template-columns: 1fr repeat(3, 10rem); /* repeat(3, 10rem) = premier chiffre nombre de fois à répéter le second. => 10rem 10rem 10rem */
	gap: 6rem;
	align-items: center;
	padding: 2.4rem 2.4rem 2rem;
	background-color: white;
}

.admin-content tr:not(:hover) .link {
	opacity: 0;
	pointer-events: none;
	transition-delay: 0s;
}

.admin-content tr:not(:first-child) {
	border-top: 1px solid #CFDCE8;
}

.admin-content tr:nth-child(2n) {
	background-color: rgba(255, 255, 255, .6);
}

.admin-content form {
	display: flex;
	gap: 2rem;
}

.admin-content form div {
	flex: 1 1 100%;
}

.admin label {
	display: block;
	margin: 2rem 0 .6rem;
	font-size: 1.6rem;
	line-height: 3.2rem;
}

.admin-content form [type="checkbox"] + label {
	display: inline-block;
}

.form-row.--checkbox {
	display: flex;
	flex-direction: column;
	padding: 1.6rem 2.4rem;
	background: white;
	border: 1px solid #CFDCE8;
	border-radius: .4rem;
}

[type="radio"] {
	display: none;
}

.admin-content [type="radio"] + label {
	display: flex;
	align-items: center;
	gap: 1.6rem;
	position: relative;
	margin: 0;
	cursor: pointer;
}

.admin-content [type="radio"] + label::before {
	content: "";
	display: block;
	width: 1.6rem;
	height: 1.6rem;
	background-color: white;
	border: 1px solid #CFDCE8;
	border-radius: .4rem;
}

.admin-content [type="radio"]:checked + label::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	transform:  translate(120%, -80%) rotate(45deg);
	width: .6rem;
	height: 1.2rem;
	border: 2px solid #44A5FF;
	border-top: none;
	border-left: none;
}

::placeholder {
	color: #78818A;
}

input,
textarea {
	padding: 1.6rem 2.4rem 1.7rem;
	width: 100%;
	max-width: 56rem;
	background-color: white;
	border: 1px solid #CFDCE8;
	border-radius: .4rem;
}

textarea {
	min-height: 30rem;
	max-height: 45rem;
	resize: vertical;
}

input:focus,
textarea:focus {
	border-color: var(--color-blue);
}

.post {}

.--edit {}

/* MODAL */

body {
	position: relative;
	background-color: rgba(0, 0, 0, .8);

	&.has-modal-active {
		&::before {
			content: "";
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .4);
			backdrop-filter: blur(2px);
		}
	}

	.modal {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 4rem;
		background-color: white;
		box-shadow: 0 0 1.6rem 0.4rem rgba(0, 0, 0, 0.1);
		border-radius: 4px;
	}
}

.modal {
	&:not(.active) {
		display: none;
	}
}

/* LOGIN */

.login {
	width: 100vw;
	height: 100vh;
	background-color: var(--color-green);

	main {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 100vh;
	}

	.login-wrapper {
		margin: 2rem;
		width: 100%;
		max-width: 44rem;
	}

	.logo {
		display: inline-block;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem 3.2rem 4rem;
		background: white;
		border-radius: .8rem;
	}

	.button {
		margin-top: 3.2rem;
	}

	.link {
		margin-top: 1.6rem;

		&.--reset-password {
			margin: 2rem;
		}
	}
}

/* BUTTON */

.form-row.--button {
	display: flex;
	gap: 4rem;
	margin-top: 4rem;
}

.button {
	display: inline-block;
	text-decoration: none;
}

.button-primary {
	padding: 2rem 6.4rem;
	font-size: 1.4rem;
	line-height: 1.4rem;
	font-weight: 600;
	letter-spacing: .2rem;
	text-transform: uppercase;
	color: white;
	background-color: #211E1E;
	border: none;
	border-radius: 5.2rem;
}

.button-small {}

.link {
	/* all: unset; ! Ceci efface vraiment tous les styles*/
	display: inline-block;
	margin: 0;
	padding: 0;
	color: currentColor;
	text-decoration: underline;
	background: transparent;
	border: none;
}

.link-delete {
	color: var(--color-red);
}

/* PAGINATION */

.pagination {
	display: flex;
	gap: .8rem;
	margin-top: 3.2rem;
}

.pagination li a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 1px;
	width: 3.2rem;
	height: 3.2rem;
	text-decoration: none;
	color: currentColor;
	background-color: white;
	border: 1px solid #CFDCE8;
	border-radius: 2px;
}

.pagination li.active a {
	color: var(--color-blue);
	border-color: var(--color-blue);
	text-decoration: underline;
}

/* CATEGORIES */

.categories-list tr {
	grid-template-columns: 1fr;
}

.categorie-item form {
	display: block;
}
