/* GENERAL */
:root {
  --black: red;
}

body {
  --black: yellow;
}

.site-content, .site-footer, .site-header {
  margin: 0 auto;
  padding: 0 8vw;
  width: 100vw;
  max-width: 1000px;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Geom";
  src: url(../fonts/a051b9530274d632e5ad.eot);
  src: url(../fonts/a051b9530274d632e5ad.eot?#iefix) format("embedded-opentype"), url(../fonts/6a6bd741a6c626394e76.woff2) format("woff2"), url(../fonts/5fa92cdb659902d8f166.woff) format("woff"), url(../fonts/4b2e4f1306afc13524d3.ttf) format("truetype"), url(../fonts/4545158c04da1e580e14.svg#Geom-Light) format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geom";
  src: url(../fonts/ea6d805ea72ba2a0044e.eot);
  src: url(../fonts/ea6d805ea72ba2a0044e.eot?#iefix) format("embedded-opentype"), url(../fonts/ba92c0eead63adcd6b58.woff2) format("woff2"), url(../fonts/791e9510d3a3cf75bc99.woff) format("woff"), url(../fonts/f519dcdf97d1501448ed.ttf) format("truetype"), url(../fonts/b82b9f04d35a03ac050a.svg#Geom-Ultra) format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.button {
  display: inline-block;
  padding: 18px 24px;
  font-family: "Geom";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 9px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #181922;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  background: #2d2f40;
}

.button-primary {
  background: #181922;
}
.button-primary:hover {
  background: #2d2f40;
}

.button-secondary {
  background: #64667B;
}
.button-secondary:hover {
  background: #7d7f95;
}

.button-delete {
  background: #FF003D;
}
.button-delete:hover {
  background: #ff3364;
}

label {
  display: block;
  margin-bottom: 15px;
  font-family: "Geom";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

textarea, select, input {
  padding: 12px 24px;
  width: 100%;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #181922;
  background: #F4F5F8;
  border: none;
}

select {
  border-radius: 0;
}

textarea {
  height: 300px;
  resize: none;
}

.link {
  font-family: "Geom";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 9px;
  text-align: center;
  letter-spacing: 0.25em;
  text-decoration: none;
  text-transform: uppercase;
  color: #181922;
}

.link-back {
  position: relative;
  padding-left: 15px;
}
.link-back::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 40%;
  width: 6px;
  height: 6px;
  border: 2px solid currentColor;
  border-top: none;
  border-right: none;
  transform: translateY(-50%) rotate(45deg);
}

/* FRONT */
.site-footer {
  margin-top: 80px;
}

.post-card a {
  text-decoration: none;
  color: currentColor;
}

.post-card-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #181922;
}

.post-card-info {
  margin-top: 16px;
  font-family: "Geom";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #181922;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
@media screen and (min-width: 600px) {
  .post-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .post-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.post-card {
  background-color: white;
  box-shadow: 0 0 15px 0 #D9D9D9;
}

.post-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 150px;
}

.post-card-image {
  margin: 0;
  line-height: 0;
}

.post-card-content {
  padding: 20px;
}

.post-card-title {
  margin: 0;
}

.posts-filter {
  margin-bottom: 40px;
}

.posts-paginate {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 80px auto 80px;
}
.posts-paginate a {
  display: block;
  padding: 15px;
  color: currentColor;
  text-decoration: none;
  background: #F4F5F8;
  transition: all 0.2s ease-in-out;
}
.posts-paginate a:hover {
  color: #fff;
  background: #181922;
}

.site-nav {
  display: flex;
  align-items: center;
  margin: 60px auto 80px;
}

.logo {
  margin-right: 40px;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}
.menu li {
  font-family: "Geom";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #181922;
}
.menu a {
  color: currentColor;
  text-decoration: none;
}

.menu-item {
  margin: 0 10px;
}

.single-post .thumbnail {
  margin-bottom: 80px;
  width: 100%;
  height: auto;
}
.single-post .title {
  --black: orange;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  color: var(--black);
}
.single-post .infos {
  margin: 20px 0 60px;
  font-family: "Geom";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #181922;
}
.single-post p {
  font-family: "Geom";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #181922;
}

/* ADMIN */
.admin-login {
  display: flex;
  height: 100vh;
}

.admin:not(.admin-login) {
  display: grid;
  grid-template-columns: clamp(300px, 20vw, 400px) 1fr;
}
@media screen and (min-width: 1400px) {
  .admin:not(.admin-login).admin-posts-edit {
    grid-template-columns: clamp(300px, 20vw, 400px) 1fr clamp(300px, 20vw, 400px);
  }
}

.admin-nav {
  position: relative;
  background: #181922;
}

.admin-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px 20px;
  width: clamp(300px, 20vw, 400px);
  height: 100vh;
  color: #fff;
  background: #181922;
}
.admin-nav-container a {
  display: block;
}
.admin-nav-container .logo {
  display: block;
  margin: 0 auto;
}
.admin-nav-container nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
}
.admin-nav-container nav ul {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.admin-nav-container nav ul > * {
  margin: 10px 0;
}
.admin-nav-container nav ul li:first-child {
  margin-top: auto;
}
.admin-nav-container nav ul li:last-child {
  margin-top: auto;
  margin-bottom: 0;
  color: #FF003D;
}
.admin-nav-container a {
  font-family: "Geom";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.25em;
  text-decoration: none;
  text-transform: uppercase;
  color: currentColor;
}

.admin-content {
  padding: 50px;
  width: 100%;
}

/* ADMIN */
.post_thumbnail {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 150px;
  height: auto;
  max-height: 150px;
}

.title {
  margin-bottom: 30px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
}

table {
  margin-top: 20px;
  width: 100%;
}
table tr td:nth-child(1) {
  width: 100%;
  min-width: 300px;
}
table tr td:nth-child(2) {
  min-width: 200px;
}
table tr td:nth-child(3) {
  min-width: 200px;
}
table tr:nth-child(2n) {
  background: #F4F5F8;
}
table td,
table th {
  padding: 20px;
  border: 1px solid #DDDFE4;
}
table td {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
table td a {
  text-decoration: none;
  color: currentColor;
  transition: all 0.2s ease-in-out;
}
table td a:hover {
  color: #F2D354;
  text-decoration: underline;
}
table th {
  font-family: "Geom";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: left;
}

.admin-categories-list .categories > form {
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 500px;
}
.admin-categories-list .categories > form label {
  grid-column: 1/-1;
}
.admin-categories-list table td,
.admin-categories-list table th {
  background-color: white;
}
.admin-categories-list table form {
  display: flex;
}

.admin-posts-edit form {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}
.admin-posts-edit form #post_title {
  font-size: 36px;
  line-height: 48px;
}
.admin-posts-edit form .form-row--100 {
  grid-column: 1/-1;
}
@media screen and (max-width: 800px) {
  .admin-posts-edit form .form-row--50 {
    grid-column: 1/-1;
  }
}
.admin-posts-edit form .form-row--settings ul li {
  margin-top: 30px;
}
.admin-posts-edit form .form-row--settings h3 {
  margin-bottom: 15px;
  font-family: "Geom";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.admin-posts-edit form .form-row--settings p {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (min-width: 1400px) {
  .admin-posts-edit form .form-row--settings {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    padding: 50px;
    width: clamp(300px, 20vw, 400px);
    height: 100vh;
    background-color: #F4F5F8;
  }
  .admin-posts-edit form .form-row--settings > * {
    margin: 8px 0;
  }
}

.form-row .error {
  padding: 15px 20px;
  color: #FF003D;
  background-color: #ffccd8;
}

.admin-login {
  background: #FFCEC0;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.login > * {
  margin: 15px 0;
}
.login .logo {
  display: block;
  margin: 0 auto;
}
.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px 40px;
  width: 100%;
  max-width: 400px;
  background: #fff;
}
.login form > * {
  margin: 15px 0;
}
.login form [type=submit] {
  width: 100%;
}
