/* POSTS LIST */

.posts-list {
	display: grid;
	gap: 2.4rem;
	grid-template-columns: 1fr; // repeat(auto-fit, minmax(24rem, 1fr))

	@media screen and (min-width: 500px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (min-width: 1000px) {
		grid-template-columns: repeat(3, 1fr);
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.categories-list {
		display: flex;
		gap: .8rem;
		flex-wrap: wrap; /* ? */

		a {
			padding: .5rem 1rem;
			text-decoration: none;
			color: currentColor;
			background: var(--color-green);
			border-radius: 5rem;
		}
	}

	.post-card {
		background-color: white;
		border: 1px solid var(--color-blue-light);
		border-radius: 4px;
	}

	.post-card-image {
		overflow: hidden;
		display: block;
		height: 20rem;
		border-radius: 3px 3px 0 0;

		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	.post-card:nth-child(2n+1) .post-card-image {
		height: 30rem;
	}

	.post-card-content {
		padding: 2.4rem;

		.title {
			font-size: 2rem;
			line-height: 3.2rem;

			a {
				text-decoration: none;
				color: currentColor;
			}
		}

		p {
			font-size: 1.6rem;
			line-height: 2.6rem;
		}
	}
}

.single {
	main {
		display: grid;
		grid-template-columns: 1fr 12rem 30rem;
		grid-template-areas:
			"hero hero hero"
			"content . sidebar"
			"related related related"
		;
	}

	.hero {
		grid-area: hero;

		img {
			width: 100%;
			max-height: 40rem;
		}
	}

	.content {
		grid-area: content;
		padding: 8rem;
		padding-right: 0;
	}

	.sidebar {
		grid-area: sidebar;
		padding: 8rem;
		padding-left: 0;
	}

	.related {
		grid-area: related;
		padding: 0 8rem;
	}

	.title {
		margin-bottom: .5em;
		font-family: var(--font-secondary);
		font-size: 3.2rem;
		line-height: 3.2rem;
	}

	.posts-container {
		display: flex;
		gap: 2rem;
	}
}
